<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @userlist.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @userlist.phone %>
</p>

<p>
  <b>F name:</b>
  <%= @userlist.f_name %>
</p>

<p>
  <b>L name:</b>
  <%= @userlist.l_name %>
</p>

<p>
  <b>Address:</b>
  <%= @userlist.address %>
</p>

<p>
  <b>Zip:</b>
  <%= @userlist.zip %>
</p>

<p>
  <b>Spot:</b>
  <%= @userlist.spot %>
</p>

<p>
  <b>Timestp:</b>
  <%= @userlist.timestp %>
</p>

<p>
  <b>Braintree cc:</b>
  <%= @userlist.braintree_cc %>
</p>

<p>
  <b>Tos:</b>
  <%= @userlist.tos %>
</p>

<p>
  <b>Dlv:</b>
  <%= @userlist.dlv %>
</p>

<p>
  <b>Emv:</b>
  <%= @userlist.emv %>
</p>

<p>
  <b>Flagged:</b>
  <%= @userlist.flagged %>
</p>


<%= link_to 'Edit', edit_userlist_path(@userlist) %> |
<%= link_to 'Back', userlists_path %>
